<!doctype html>
<html lang="en" class="{% block html_class %}{% endblock %}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}{{ view.project_name }} - towelie{% endblock %}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geist:wght@300;400;500;600&family=Geist+Mono:wght@300;400;500&family=Lora:ital,wght@0,400;0,500;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/output.css?v={{ view.css_version }}" />
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% block body %}{% endblock %}
    <script src="/static/main.js?v={{ view.js_version }}"></script>
  </body>
</html>
