name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - uses: oven-sh/setup-bun@v2

      - name: Sync dependencies
        run: uv sync --locked --all-groups

      - name: Run pre-commit hooks
        run: uvx prek run --all-files
